<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body>


</div>
<h1 style="Color:green;"> Alert Buttons with Styles</h1>

<div class="row tim-row" id="display-buttons" data-class="btn-info">
    <div class="col-md-3">
        <button href="#fakelink" class="btn btn-block btn-lg btn-success">Success Button</button>
    </div>

    <div class="col-md-3">
        <button href="#fakelink" class="btn btn-block btn-lg btn-warning">Warning Button</button>
    </div>
    <div class="col-md-3">
        <botton href="#fakelink" class="btn btn-block btn-lg btn-Danger">Danger Button</botton>
    </div>
    <div class="col-md-3">
        <button href="#fakelink" class="btn btn-block btn-lg btn-info">Default Button</button>
    </div>
    <div class="col-md-3">
        <button href="#fakelink" class="btn btn-block btn-lg btn-fill btn-info">Filled Button</button>
    </div>
    <div class="col-md-3">
        <button href="#fakelink" class="btn btn-block btn-lg btn-round btn-info">Round Button</button>
    </div>
    <div class="col-md-3">
        <button href="#fakelink" class="btn btn-block btn-lg btn-simple btn-info">Simple Button</button>


    </div>

<!--<button class="btn success">Succees</button>
    <button class="btn info">Info</button>
    <button class="btn warning">Warning</button>
    <button class="btn danger">Danger</button>
    <button class="btn default">Default</button>-->

</div>


</body>
</html>